*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    position: relative;
    width: 100%;
    min-height: 100vh;
    overflow: hidden;
}

.container:before{
    content: '';
    position: absolute;
    width: 2000px;
    height: 2000px;
    border-radius: 50%;
    background: linear-gradient(-45deg, #44B1eb, #04befe);
    top: -10%;
    right: 48%;
    transform: translateY(-50%);
    z-index: 6;
}

.signin-signup{
    position: absolute;
    top: 50%;
    left: 75%;
    transform: translate(-50%, -50%);
    width: 50%;
    z-index: 5;
}

.panel{
    padding: 3rem 53% 1rem 15%;
    pointer-events: none;
    z-index: 7;

}
.panel .content{
    color: #fff;
}

.panel h3{
    font-weight: 600;
    line-height: 1;
    font-size: 1.5rem;
}

.panel p{
    font-size: 0.95rem;
    padding: 0.75rem  0;
}

.image{
    width: 100%;
}

.btn{
    margin: 0;
    background: none;
    border: 2px solid #fff;
    width: 130px;
    height: 41px;
    font-weight: 600;
    font-size: 0.8rem;
    color: #fff;
    border-radius: 20px;

}

@media (max-width: 870px){
    .container {
        min-height: 800px;
        height: 100vh;
    }
    .container:before{
        width: 1500px;
        height: 1500px;
        left: 30%;
        bottom: 68%;
        transform: translateX(-50%);
        right: initial;
        top: initial;
    }
    .signin-signup{
        width: 100%;
        left: 50%;
        top: 95%;
        transform: translate(-50%, -100%);
    }

    .panel-container{
        display: grid;
        grid-template-rows: repeat(2, 1fr);
        gap: 10rem;
    }

    .panel{
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        text-align: center;
        padding: 0rem 8%;
        width: 100%;
        gap: 2rem;

    }
    
    .image{
        width: 200px;
    }

    .panel h3{
        font-size: 1.2rem;
    }

    .panel p{
        font-size: 0.7rem;
        padding: 0.5rem 0;
    }

    .btn{
        width: 100px;
        height: 35px;
        font-size: 0.7rem;
    }

}

@media (max-width: 570px){
    form{
        padding: 0 1.5rem;
    }

    image{
        display: none;
    }
    .panel .content{
        padding: 0.5rem 1rem;
    }
}